<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    
    <context:component-scan base-package="com.akka.spring.*"></context:component-scan>
    
   <bean name="actorSystem" scope="singleton" class="akka.actor.ActorSystem" factory-method="create">
     <constructor-arg value="APP-SYS"></constructor-arg>
    </bean> 
    
    <bean name="messageA" class="com.akka.spring.actor.ActorMessage">
    <property name="message" value="This is message A, For Akka Actor A"></property>
    </bean>
   
    <bean name="messageB" class="com.akka.spring.actor.ActorMessage">
    <property name="message" value="This is message B, For Akka Actor B"></property>
    </bean> 
</beans>